.data-import {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 16px;
	background: #fff;

	.import {
		.imprt-btn {
			height: 60px;

			.ant-btn {
				float: right;
				height: 30px;
				margin-top: 15px;
			}
		}

		.import-log {
			height: 900px;
			overflow: auto;
			padding: 10px 20px 20px;
			font-size: 18px;
			text-align: left;
			background: #333;
			color: #fff;
		}

		.import-again {
			float: right;
			margin-right: 20px;
		}

		.import-export {
			margin-top: 30px;
			font-size: 18px;
			padding: 20px;

			a {
				line-height: 45px;
			}
		}
	}

	> .task {
		position: relative;
		height: 100%;
		padding-top: 24px;
		padding-bottom: 50px;

		> .next {
			position: absolute;
			width: 80px;
			bottom: 16px;
			right: 16px;
		}
	}
}
