.data-import {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 16px;
	background: #fff;

	> .task {
		position: relative;
		height: 100%;
		padding-top: 24px;
		padding-bottom: 50px;

		> .next {
			position: absolute;
			width: 80px;
			bottom: 16px;
			right: 16px;
		}
	}
}
