.custom-picker {
	border: none !important;
	box-shadow: initial !important;
	border-radius: 0 !important;

	> div {
		padding: 0 !important;

		> span > div {
			width: 24px !important;
			height: 24px !important;
		}
	}
}
