{
    "presets": [
        ["@babel/preset-env", {
            "modules": "commonjs",
            "targets": {
                "chrome": "58",
                "ie": "11"
            }
        }],
        "@babel/preset-react"
    ],
    "plugins": [
        "react-hot-loader/babel",
        [
            "import",
            {
                "libraryName": "antd",
                "style": "css"
            }
        ],
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-syntax-dynamic-import"
    ]
}
