logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
*.js
*.map
.github/workflows/nodejs.yml

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
app/public/

!.autod.conf.js
!.eslintrc.js
!.prettierrc.js
!.commitlint.js
!app/assets/**/*.js
config/manifest.json
nebula-go-api/nebula-go-api
nebula-go-api/tmp
package-lock.json
scripts/data/
typings
docker/data
tmp
