logs/
npm-debug.log
node_modules/
.idea/
.DS_Store
.vscode
*.swp
*.swo
*.out
*.log
*.lock
*.map
.github/workflows/nodejs.yml
go.work.sum

app/**/*.map
config/**/*.map
dist/

!.eslintrc.js
!.prettierrc.js
!.commitlint.js
!app/**/*.js
tmp
server/api/*/data
server/api/*/assets/*
!server/api/*/assets/.gitkeep
bin/