.data-import {
	.init {
		form {
			margin: 350px auto;
			width: 500px;

			.ant-form-item {
				display: flex;

				> .ant-form-item-label {
					width: 100px;
				}

				> .ant-form-item-control-wrapper {
					flex: 1;
				}
			}

			.ant-form-item + .ant-form-item {
				margin-top: 32px;
			}
		}
	}
}
