.data-import .upload {
	.files {
		text-align: center;

		> .ant-btn {
			margin-top: 24px;
		}

		.file-type-select {
			width: 100px;
		}

		> h3 {
			margin-top: 32px;
			margin-bottom: 16px;
			font-size: 24px;
		}

		table {
			th,
			td {
				text-align: center;
			}
		}

		.upload-btn {
			margin-top: 24px;
		}
	}
}
