.nebula-explore .control {
	padding: 12px;
	display: flex;
	border-bottom: 1px solid #eee;

	> .ant-form-item {
		flex: 1;
		margin-bottom: 0;

		&.left {
			display: flex;

			> .ant-form-item-control-wrapper {
				.ant-select {
					width: 200px;
				}
			}
		}

		&.right {
			text-align: right;

			.ant-btn {
				margin: 0 16px;
				width: 150px;
			}
		}
	}
}
