.nebula-console {
	display: flex;
	flex-direction: column;
	height: 100%;

	.ngql-content {
		position: relative;
		display: flex;
		background: #efeff4;
		padding: 16px 8px;
		font-size: 16px;

		> .mirror-wrap {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;

			> .CodeMirror {
				width: 100%;
			}

			.mirror-nav {
				text-align: left;
				background: #f7f7f7;
				padding: 10px 0 10px 30px;
				width: 100%;

				input {
					width: 350px;
					margin-left: 8px;
				}
			}

			> .expand {
				height: 21px;
				display: flex;
				justify-content: center;
				align-items: center;
				background: #f9f9f9;
				cursor: pointer;

				&:hover {
					background: #f7f7f7;
				}

				> .anticon {
					font-size: 20px;
				}
			}
		}

		> .anticon-play-circle,
		.anticon-edit {
			display: flex;
			width: 64px;
			height: 52px;
			justify-content: center;
			align-items: center;
			font-size: 32px;
			cursor: pointer;
		}
	}

	.result-wrap {
		flex: 1;
		display: flex;
		flex-direction: column;
		margin-top: 32px;

		.ngql-history {
			width: 110px;
			text-align: center;
			margin-bottom: 12px;
		}
	}
}

.ant-modal {
	height: 80%;
	overflow: hidden;

	.ant-modal-content {
		max-height: 100%;
		overflow: auto;
	}
}
