.btnNodeStyleSet {
	display: flex;
	align-items: center;
	width: 100%;
	> span {
		display: inline-flex;
		align-items: center;
		width: 100%;
	}

	.colorGroup {
		display: inline-flex;
		position: relative;
	}

	.circle {
		display: inline-block;
		width: 30px;
		height: 30px;
		border-radius: 25px;
		cursor: pointer;
		z-index: 3;

		&:nth-child(2) {
			position: absolute;
			left: 5px;
			z-index: 2;
		}

		&:nth-child(3) {
			position: absolute;
			left: 10px;
			z-index: 1;
		}
	}

	.btnTitle {
		padding-left: 10px;
		display: inline-flex;
		align-items: center;
		width: 100%;
	}
}

.nodeStylePopover {
	width: 260px;
}

.tabTypeSet {
	.size-radio{
		width: 100%;
		.ant-radio-wrapper{
			display: flex;
			align-items: baseline;
			justify-content: center;
			.size-radio-item{
				display: flex;
				align-items: center;
				height: 40px;
				justify-content: space-between;
				.item-title{
					width: 30px;
				}
				.item-content{
					width: 125px;
					flex: 1;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
			.circle{
				width: 40px;
				height: 40px;
				background-color: #68B931;
				border-radius: 50%;
			}
		}
	}
}
:global {
	.ant-carousel .slick-dots-bottom {
		bottom: 0;
		height: 12px;
		margin: 0;
	
		li {
			width: 24px;
		}
	
		li button {
			width: 10px;
			height: 10px;
			border-radius: 10px;
			background-color: #cec9c9;
		}
	
		li.slick-active button {
			width: 10px;
			background-color: gray;
		}
	}
}
