@gray: #D5DDEB;
@lightGray: #F8F8F8;

@font-face {
	font-family: 'Roboto-Black';
	src: url(~@appv2/static/fonts/Roboto-Black.ttf);
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url(~@appv2/static/fonts/Roboto-Bold.ttf);
}

@font-face {
	font-family: 'Roboto-Light';
	src: url(~@appv2/static/fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url(~@appv2/static/fonts/Roboto-Medium.ttf);
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url(~@appv2/static/fonts/Roboto-Regular.ttf);
}
