@import '~@app/common.less';
.spaceCreate {
  .configContainer {
    padding: 25px 0 110px;
    .spaceForm {
      border-bottom: 1px solid @gray;
      padding-bottom: 20px;
      :global(.ant-form-item-explain-error) {
        white-space: nowrap;
      }
      label {
        font-family: Roboto-Bold;
      }
      .optionalItem {
        color: @gray;
      }
    }
  }
}
.vidItem {
  position: relative;
}
.stringLength {
  position: absolute;
  bottom: 0;
  :global(.ant-form-item-explain) {
    position: absolute;
  }
}