@import '~@app/common.less';

.dataSourceModal {
  :global {
    .ant-modal-header {
      border-bottom: none;
    }
    .ant-modal-body {
      padding: 0 10px 35px;
    }
  }
  .btns {
    text-align: center;
    :global(.ant-btn) {
      width: 180px;
    }
  }
  .tip {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: center;
  }
  .endpointFormItem {
    position: relative;
  }
  :global(.studioIconInstruction) {
    position: absolute;
    top: 50%;
    right: 115px;
    transform: translateY(-50%);
  }
}

