.graph-wrap {
	.tooltip {
		position: absolute;
		text-align: center;
		background: #c7eafb;
		padding: 4px;
		min-width: 200px;
		top: 0;
		left: 50px;
		font-size: 18px;
		line-height: 18px;
	}

	.history-undo {
		float: right;
		margin-right: 30px;
	}
}
