html body {
  padding:0;
  margin:0;
}
.nebula-web-console {
  .lang-select {
    float: right;
    > span {
      display: inline-block;
      padding-right: 16px;
      text-align: right;
      width: 100px;
      color: #fff;
    }
    > .ant-select {
      width: 100px;
    }
  }
  .ngql-content{
    position: relative;
  }
  .ngql-history{
    float: right;
    margin: 10px;
  }
}