@import '~@app/common.less';
.configCollapse {
  background: @lightBlue;
  border: 1px solid @gray;
  box-sizing: border-box;
  border-radius: 6px;
  margin-top: 20px;
  :global(.ant-collapse-item > .ant-collapse-header) {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: @darkBlue;
  }

  .panelTitle {
    display: flex;
    align-items: center;
  }
  
  .configTargetSelect {
    min-width: 60px;
    width: fit-content;
    max-width: 60%;
    :global {
      .ant-select-selector {
        padding-right: 20px;
      }
      .ant-select-selection-item, .ant-select-selection-placeholder {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;
        display: inline-block;
        padding: 0 20px;
        background: @blue;
        border-radius: 30px;
        color: #FFFFFF;
        font-family: Roboto-Bold, sans-serif;
      }
      .ant-select-arrow {
        right: 0;
        color: @blue;
      }
    }
    
    &.noValue :global(.ant-select-arrow svg) {
      color: @blue;
    }
  }
  .btns {
    text-align: center;
  }
  .btnClose {
    cursor: pointer;
  }
}

.label {
  white-space: nowrap;
  font-family: 'Roboto-Medium', sans-serif;
  color: @darkBlue;
}
.title::after, .label::after {
  content: ':';
  padding-right: 5px;
}
.required::before {
  content: '*';
  padding-right: 3px;
  color: @red;
}
.selectItems {
  max-width: 400px;
}

.fileMappingContainer {
  padding: 15px;
  background: #FFFFFF;
  border: 1px solid @gray;
  border-radius: 3px;
  margin-bottom: 15px;
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid @gray;
  }
  .operation {
    max-width: 100%;
  }
  .fileSelect {
    :global {
      .ant-select-selection-placeholder, .anticon, .ant-select-selection-item {
        color: @blue;
      }
    }
  }
  .vidCollapse {
    width: 100%;
    
    .rowItem {
      width: 45%;
      display: inline-block;
    }
    .functionSelect {
      width: 60%;
      background: @lightBlue;
      color: @darkGray;
    }
    .prefixInput {
      width: 60%;
      background: @lightBlue;
      color: @darkGray;
      :global(.anticon) {
        color: @darkBlue;
      }
    }
  }
  .propsMappingTable {
    :global(.ant-table-row) {
      background-color: @lightBlue;
    }
  }
  .spaceBetween {
    display: flex;
    justify-content: space-between;
  }
  :global(.ant-select) {
    width: fit-content;
    min-width: 100px;
    max-width: 80%;
  }
}

